body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

tr[style] {
  transition: all 0.2s ease-in-out;
}

tr[style]:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.task-row {
  transition: all 0.2s ease-in-out;
}

.task-row:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
